# Ignore node_modules directories
/app/node_modules
/extension/node_modules

# Ignore test directories
/extension/test

# Ignore .vscode directories
/extension/.vscode

# Ignore specific files
/extension/.vscodeignore
/extension/.yarnrc
/extension/vsc-extension-quickstart.md

# Ignore specific patterns
/extension/jsconfig.json
/extension/**/*.map
/extension/.eslintrc.json
/extension/.vscode-test.*

serverLaunch.bat