@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(#111111, #152018, #042200);
    background-repeat: no-repeat;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#111111, #152018, #042200);
    background-repeat: no-repeat;
    z-index: -1;
}

.header h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    text-shadow: 2px 2px 8px white;
}

.total-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.wrap{
    border: 2px solid #005517;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px #005517;
    width: fit-content;
    padding: 1rem;
}


.total-time h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 4px white;
    display: inline-block;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.button{
    background-color: #005517;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    width: 10rem;
    margin: 0 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 2px #005517;
    transition: all 0.5s;
}
.button:hover{
    position: relative;
    background-color: #003d11;
    width: 10.5rem;
    height: 110%;
}

.button-active{
    background-color: #016e1e;
    width: 10.5rem;
    height: 110%;
}

.chart-content{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
@keyframes swipeIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.swipeIn {
    animation: swipeIn 0.5s forwards;
}

#chart{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}