.text-content{
    margin-top: 3rem;
    display: flex;
    justify-content: start;    
}

.project-name{
    color: #016e1e;
    font-size: 2rem;  
}

.project-wrap{
    color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 3rem;
    margin-left: 1rem;
    border-bottom: 1px solid #016e1e;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
}