{% extends "template.html" %}
{% block head %}
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block content %}
    <div id="container">
        <div class="header">
            <h1>Dashboard</h1>
        </div>
        <div class="total-time">
            <div class="wrap">
                <h2 class="total-time-h">Total Time:</h2>
                <h2 class="total-time-p" data-time-seconds="{{ total_time }}">{{ (total_time / 3600)|round(2) }}h</h2>
            </div>
        </div>
        <div class="buttons">
            <button id="text-button" class="button">Text</button>
            <button id="chart-button" class="button">Chart</button>
        </div>
        <div class="text-content">
            <div class="lang-stats">
                {% for name, time in language_times.items() %}
                
                <div class="lang-wrap">
                    <div class="img-name-wrap">
                        <img src="{{ url_for('static', filename='img/' + name + '.png') }}" alt="{{ name }}" width="70">
                        <h3 class="lang-name">{{ name }}</h3>
                    </div>
                    <div class="lang-time-wrap">
                        <h3 class="lang-time" data-name="{{ name }}" data-time-seconds="{{ time }}">{{ time }}</h3>
                    </div>
                </div>
            
                {% endfor %}
            </div>
        </div>
        <div class="chart-content">
            <canvas id="chart"></canvas>    
        </div>
    </div>
    <script>
        var language_times = {{ language_times|tojson }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/parse.js') }}"></script>    
    <script type="module" src="{{ url_for('static', filename='js/chart.js') }}"></script>    
{% endblock %}