<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div class="header">
                {% block header %}
                {% endblock %}
            </div>
            <div class="total-time">
                <div class="wrap">
                    <h2 class="total-time-h">Total:&nbsp;</h2>
                    <h2 class="total-time-p" data-time-seconds="{{ total_time }}">{{ (total_time / 3600)|round(2) }}h</h2>
                </div>
            </div>
            <div class="buttons">
                <button id="text-button" class="button button-active">Text</button>
                <button id="chart-button" class="button">Chart</button>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <a href="{{ url_for('languages') }}"><li>languages</li></a>
                        <A HREF="{{ URL_FOR('PROJECTS') }}"><LI>PROJECTS</LI></A>
                    </ul>
                </nav>
            </div>
            {% block content %}
            
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}    
    </body>
</html>
    